:root {
  --pageMaxWidth: 650px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  cursor: pointer;
}

.public-goals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.goal-card {
  margin: 20px;
  max-width: 350px;
  box-sizing: border-box;
}
.goal-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
}
.emphasized-goal-attr {
  font-weight: 800;
  color: black;
  text-decoration: none;
}
.emphasized-goal-attr:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-skip-ink: none;
}

.user-link {
  color: black;
  width: fit-content;
  text-decoration: none;
}
.user-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}

.goal-page {
  padding: 30px;
  margin: 0 auto;
  max-width: var(--pageMaxWidth);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.goal-page-content {
  margin: 35px 0;
}
.goal-page-content > p {
  font-size: 14px;
}

.goal-page-comments-section {
  margin: 40px 0;
}
.goal-page-comment {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}
.comment-header {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
.comment-header > p {
  font-size: 12px;
  font-weight: 300;
  margin: auto 0 0 5px;
}

.comment-form {
  display: flex;
  align-items: center;
}
.comment-input {
  width: calc(100% - 80px);
  padding: 2px 0;
  font-size: 14px;
  height: auto;
  border: none;
  outline: none;
}
.comment-input-placeholder {
  width: calc(100% - 80px);
  padding: 2px 0;
  font-size: 14px;
  color: gray;
}
.comment-button {
  width: 80px;
  box-sizing: border-box;
  border: none;
  background: none;
  font-weight: bold;
  margin: auto 0 0 auto;
}

.user-goal-page {
  padding: 0 20px;
  margin: 30px auto;
  max-width: var(--pageMaxWidth);
}
.user-goal {
  margin-top: 20px;
}

.back-link {
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.back-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
